rashivashi_app/.dart_tool/
rashivashi_app/.flutter-plugins
rashivashi_app/.flutter-plugins-dependencies
rashivashi_app/.packages
rashivashi_app/.pub/
rashivashi_app/build/

rashivashi_app/android/.gradle/
rashivashi_app/android/local.properties
rashivashi_app/android/key.properties
rashivashi_app/android/app/*.jks
rashivashi_app/android/app/*.keystore

rashivashi_app/ios/Pods/
rashivashi_app/ios/.symlinks/
rashivashi_app/ios/Flutter/Flutter.framework
rashivashi_app/ios/Flutter/Flutter.podspec
rashivashi_app/ios/Flutter/ephemeral/

rashivashi_app/macos/Pods/
rashivashi_app/windows/flutter/ephemeral/
rashivashi_app/linux/flutter/ephemeral/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.log

.env
.env.*